numpy
py-cpuinfo
librosa
fleep
gTTs
# pyobjc
pyttsx3
datasets
traceback2
openai-whisper
setuptools-rust
pygame
accelerate
pyaudio
faster-whisper
fs
tinytag
SpeechRecognition
sounddevice
python-bidi
fleep
ffmpeg
ffmpeg-python
#uvicorn
# faster-whisper
google-cloud-texttospeech

# whisper-cpp-python
# git+https://github.com/aarnphm/whispercpp.git
#

# pip install streamp3

streamlit
openai
# ==0.26.5

# torch==1.13.1
torch
tqdm
# ==4.64.1
more-itertools
# ==9.0.0
transformers
# >=4.36.0
ffmpeg-python
# ==0.2.0
soundfile
# ==0.11.0
python-magic
# ==0.4.27 
pydub
# ==0.25.1  
streamlit-audiorecorder
# ==0.0.2 
python-dotenv
# ==1.0.0
git+https://github.com/openai/whisper.git

SpeechRecognition
#datasets transformers accelerate soundfile librosa evaluate jiwer tensorboard gradio

# soundfile librosa pygame

httpchunked

#sockets 
Flask
aiohttp_wsgi
aiohttp_cors

fastapi
uvicorn
python-multipart
# 'uvicorn[standard]'

# deepspeed
# flash-attn --no-build-isolation

