<!DOCTYPE html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<html>
   <head>
       <title>Live Transcription</title>
   </head>
   <body>
        <h1>Transcribe Audio With Flask 2.0</h1>
        <button id="recordButton">
            <i class="fas fa-microphone"></i>
           </button>
           <p id="status">Connection status will go here</p>
           <p id="transcript"></p>


        <script>

            let mediaRecorder;
            let chunks = [];
            let ws;

            navigator.mediaDevices.getUserMedia({ audio: true })
            .then(stream => {
            mediaRecorder = new MediaRecorder(stream, {
                mimeType: 'audio/webm;rate=16000'   
            });

            const socket = new WebSocket("ws://" + location.host + "/listen");

            socket.onopen = () => {
                document.querySelector('#status').textContent = 'Connected';
                mediaRecorder.addEventListener('dataavailable', async (event) => {
                if (event.data.size > 0 && socket.readyState == 1) {
                    socket.send(event.data);
                }
                });

                document.getElementById('recordButton').addEventListener('click', function() {
                if (mediaRecorder.state == 'recording') {
                    mediaRecorder.stop();
                    this.innerHTML = '<i class="fas fa-microphone"></i>';
                } else {
                    chunks = [];
                    mediaRecorder.start(250);
                    this.innerHTML = '<i class="fas fa-microphone-slash"></i>';
                }
                });
            };

            socket.onmessage = (message) => {
                const received = message.data;
                if (received) {
                document.querySelector('#transcript').textContent += ' ' + message.data;
                }
            };
            })
            .catch(err => {
            console.error('The following error occurred: ' + err);
            });

        </script>
   
   </body>
</html>
